name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repository
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Generate Version
        run: echo "VERSION=$(date -u +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Build with Gradle
        run: ./gradlew -Pversion=$VERSION :bootstrap:bootJar --no-build-cache
        env:
          NAVER_CLIENT_ID: ${{ secrets.NAVER_CLIENT_ID }}
          NAVER_CLIENT_SECRET: ${{ secrets.NAVER_CLIENT_SECRET }}
          KAKAO_API_KEY: ${{ secrets.KAKAO_API_KEY }}


      - name: Upload JAR
        uses: actions/upload-artifact@v2
        with:
          name: bloggy-server-jar
          path: bootstrap/build/libs/bloggy-server-*.jar

      - name: Create Release Notes
        run: |
          ARTIFACT_SIZE=$(du -h bootstrap/build/libs/bloggy-server-${{ env.VERSION }}.jar | cut -f1)
          echo "버전: ${{ env.VERSION }}" > release-notes.txt
          echo "아티팩트 크기: $ARTIFACT_SIZE" >> release-notes.txt

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.VERSION }}
          release_name: Release ${{ env.VERSION }}
          body_path: release-notes.txt
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bootstrap/build/libs/bloggy-server-${{ env.VERSION }}.jar
          asset_name: bloggy-server-${{ env.VERSION }}.jar
          asset_content_type: application/java-archive
