name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repository
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Generate Version
        run: echo "VERSION=$(date -u +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Build with Gradle
        run: ./gradlew -Pversion=$VERSION :adapter:bootJar --no-build-cache

      - name: Upload JAR
        uses: actions/upload-artifact@v2
        with:
          name: bloggy-adapter-jar
          path: adapter/build/libs/bloggy-adapter-*.jar


  release:
    needs: build-and-upload
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repository
        uses: actions/checkout@v2

      - name: Download JAR Artifact
        uses: actions/download-artifact@v2
        with:
          name: bloggy-adapter-jar
          path: adapter/build/libs

      - name: Create Release Notes
        run: |
          VERSION=$(date -u +"%Y%m%d%H%M%S")
          BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          ARTIFACT_SIZE=$(du -h adapter/build/libs/bloggy-adapter-*.jar | cut -f1)
          echo "버전: $VERSION" > release-notes.txt
          echo "아티팩트 크기: $ARTIFACT_SIZE" >> release-notes.txt
          
          echo "VERSION=$(date -u +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.VERSION }}
          release_name: Release ${{ env.VERSION }}
          body_path: release-notes.txt
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./adapter/build/libs/bloggy-adapter-*.jar
          asset_name: bloggy-adapter-$VERSION.jar
          asset_content_type: application/java-archive
